#traffic-light {
    width: 50px;
    height: 150px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  #traffic-light div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  